@font-face {
  font-family: "Bad Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bad-script-v16-latin_cyrillic-regular.woff2") format("woff2");
  src: url("../fonts/bad-script-v16-latin_cyrillic-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2");
  src: url("../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2");
  src: url("../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff");
  font-display: swap;
}


/*______________________________________________*/

body {
	height: 100vh;
	box-sizing: border-box;

	font-family: "Open Sans";
	
	display: flex;
	flex-direction: column;
}

.women {
	background-color: #FFF1F8;
}

.men {
	background-color: #EFF9FE;
}

* {
	box-sizing: inherit;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 90px;
}

/*_____________________ header _________________________*/

.header {
	position: relative;
	z-index: 1;
	padding: 28px 0;
	background-color: #ffffff;
	box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.header__button-wrapper_text {
	display: flex;
	gap: 30px;
}

.header__button-change {
	width: 300px;
	height: 65px;

	font-weight: 700;
	font-size: 18px;
	color: #ffffff;

	background-color: #B8FF20;
	border-radius: 30px;
	border: none;
}

.men .header__button-change {
	background-color: #1178B3;
}

.women .header__button-change {
	background-color: #C300C7;
}

.header__button-wrapper_gend {
	display: flex;
	gap: 20px;
}

.header_button-gender {
	width: 60px;
	height: 60px;
	border: 1px solid transparent;
	border-radius: 10px;
	box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.04);
	background-color: #ffffff;
	background-repeat: no-repeat ;
	background-position: center;
	background-size: 36px;
}

.header_button-gender_men {
	background-image: url(../img/men.svg);
}

.men .header_button-gender_men {
	border: 1px solid #1178B3;
}

.header_button-gender_women {
background-image: url(../img/women.svg);
}

.women .header_button-gender_women {
	border: 1px solid #C300C7;
}

/*_____________________ main _________________________*/

.card {
	display: flex;
	flex-grow: 1;

	padding: 32px 0;
}

.card__container {
display: flex;
}

.card__wrapper {
	position: relative;
	margin: auto;
	display: flex;
	box-shadow: 0px 0px 50px rgba(96, 4, 50, 0.23);
	font-size: 3px;
}

.card__text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	line-height: 1.8;
	font-size: max(3em, min(calc(100vw * 3 / 140), 6em));
	color: #000000;
	text-align: center;
}

.women .card__text {
	font-family: "Bad Script";
}

.men .card__text {
	font-family: "Open Sans";
	font-weight: 700;
}

/*_____________________ footer _________________________*/
.footer {
	padding-bottom: 17px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer__text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #000000;
}

.footer__text-copy {
	font-size: 14px;
line-height: 19px;
}

.footer__social {
	display: flex;
	gap: 16px;
}

.footer_svg {
	color: #B8FF20;
}

.women .footer_svg {
	color:#C300C7;
}

.men .footer_svg {
	color:#1178B3;
}
/*_____________________ media _________________________*/


@media (max-width:960px)  {
	.container {
		padding: 0 10px;
	}

.header__button-wrapper{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.header__button-wrapper_gend {
	justify-content: center;

}
.header__button-change {
width: 220px;
height: 45px;
font-size: 14px;
}

.header_button-gender {
	width: 40px;
height: 40px;
background-size: 30px;
}
}

@media (max-width:480px)  {
.footer__container {
flex-direction: column;
gap: 30px;
}

.footer__contacts {
order: 1;
}
}

@media (max-width:400px)  {
.header__container {
	flex-direction: column;
}

.header__button-wrapper {
	justify-content: center;
}
}

